altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
fonttools
gitdb
GitPython
idna
imageio
importlib-resources
imutils
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lazy-loader
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
networkx
numpy
opencv-python-headless
packaging
pandas
pillow
pkgutil-resolve-name
progressbar
protobuf==3.20.*
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytils
pytz
PyWavelets
referencing
requests
rich
rpds-py
scikit-image
scikit-learn
scipy
six
smmap
streamlit
streamlit-option-menu
tenacity
threadpoolctl
tifffile
toml
tools
toolz
tornado
typing-extensions
tzdata
urllib3
watchdog
zipp
